ul#nav {
  /*margin: 0 0 0 200px;*/
}

ul.drop a {
  display:block;
  /*color: #fff;*/
  /*font-family: Verdana;*/
  /*font-size: 14px;*/ 
  /*text-decoration: none;*/
}
ul.drop,
ul.drop li,
ul.drop ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  /*border: 1px solid #fff;*/ 
  /*background: #555;*/ 
  /*color: #fff;*/
}
ul.drop {
  position: relative;
  z-index: 597;
  /*float: left;*/
}
ul.drop li {
  float: left; 
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
  /*padding: 5px 10px;*/
  padding: .6em 1em .6em 1em;
}
ul.drop li.hover,
ul.drop li:hover {
  position: relative; 
  z-index: 599;
  cursor: pointer; 
  /*background: #1e7c9a;*/ 
}
ul.drop ul { 
  visibility: hidden;
  position: absolute;
  top: 100%; 
  left: 0;
  z-index: 598; 
  max-width: 195px; 
  /*background: #555;*/ 
  /*border: 1px solid #fff;*/
}
ul.drop ul li {
  float: none;
}
ul.drop ul ul { 
  top: -2px;
  left: 100%;
}
ul.drop li:hover > ul {
  visibility: visible
}

/* === CUSTOM === */

#nav .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid #0066A4;
    margin-top: 5px;
}
#nav .parent:hover .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid #fff;
    margin-top: 5px;
}

#nav .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #fff;
    margin: 8px 0 0 16px;
}

#nav .right.last ul {
  max-width: 95px;
}